.icon-import-reqpro { background-image: url(../images/reqpro-icon3.png); }

thead.text_left{
	text-align: left;
}

label.tabular{
	text-align: right;
	width: 270px;
	display: inline-block;
}

table.tab_center{
	text-align: center;
	display: inline-block;
}

td.dropdown_column_user{
	width: 350px;
}

td.first_column_tracker{
	width: 250px;
}
td.dropdown_column_tracker{
	width: 250px;
}
td.third_column_tracker{
	width: 300px;
}

td.first_column_attribute{
	width: 250px;
}
td.dropdown_column_attribute{
	width: 210px;
}

th.th_firstcolumn{
	text-align: right;
}

td.td_content{
	width: 100px;
}
